@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+CU&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background: rgb(174, 231, 250);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: white;
  height: 430px;
  width: 270px;
  position: relative;
  top: 112px;
  border-radius: 20px;
}
.card img {
  height: 250px;
  position: relative;
  top: 16px;
  border-radius: 5px;
}
.card-bottom h1,
h2 {
  /* background: blue; */
  text-align: center;
}
.card-bottom h2 {
  position: relative;
  top: -20px;
  color: rgb(255, 0, 0);
}
.card .bottom {
  display: flex;
  justify-content: space-evenly;
  /* background: yellowgreen; */
  position: relative;
  top: -12px;
}
#Add_Friend {
  background-color: green;
}
.card button {
  background: rgb(111, 200, 229);
  color: white;
  padding: 7px 11px;
  border: none;
  text-align: center;
  font-size: large;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
  font-size: 20px;
  font-weight: 200px;
  border-radius: 9px;
}
.card button:hover {
  background: blue;
  box-shadow: 0 5px 15px 0 rgb(91, 221, 91), 0 5px 15px 0 rgb(91, 221, 91);
}
.card button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
